*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*styling the wrapper super level */
#wrapper{
    height: 100vh; /* height of wrapper similary to view port */
    overflow-x: hidden;  /* this we using to stopp our site from scrolling right side, as image is big it is scrolling*/
    overflow-y: auto;  /*we required our site to scroll vertically */
    perspective: 15 px; /* setting perspective to the images beacuse we will use 3D */

}

.container{
    position: relative;
    display: flex;  /* adding flex to container */
    justify-content: center;
    align-items:center;  /*using both to align item in the centre */
    height: 100%;
    transform-style:preserve-3d; /* using this to preseve 3d and tell we will use 3d , if not written this line it will take 2d transform only*/
    
    z-index:-1;  /* it is for overlaping it will help in which image to overlap on othe image */

}
.background{
    transform:perspective translateZ(-40px) scale(5); /* using the 3d transform property to set image far
                                    we are using scale to increase the size of pitcure as it appears small on setting image far */
}
.foreground{
    transform:perspective translateZ(-20px) scale(3);
}

/* styling the image to get the effect */
.background, .foreground{
    position: absolute; /*for overlaping the image */
    height: 100%;
    width: 100%;
    z-index:-1; /* this will tell the hedding to come on top of this over lapping images . */
    object-fit: cover; /* it is use to fit item in container, image will cover all the width */
}
h1{
    background-color: transparent;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform:translateX(-50%);
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 10 rgb(0,0,0,0.35 ); 

    
}section{
    background-color: rgb(45, 45,45);
    color: white;
    padding: 5rem;

}

.SecHeading{
    font-size: 5rem;
    padding: 10rem;
}
.text{
    font-size: 1.5rem;
    
    
}
.bg{

    position: relative;
    width: 100%;
    background-attachment: fixed; /* this property used to fix the image in background and dont scroll */
    height: 350px;
    background-position: center;
    background-size: cover; /* to fit the image properly */
     /*border-radius: 10px;   if we want to add rounded at the corder */
}

.desc{
    position: absolute; /* beacuse we want our heading to over lap on image */
    background-color: transparent;
    top:50%;
    left: 50%;
    transform: translate(-50px,-50px); /*setting heading in proper place on above pictures */
    font-size: 2.5rem;
    font-weight: 600; /*thickness aand all of text */
    text-shadow: 0 0 10 rgb(0,0,0,0.5 ); /* adding shadow to heading */


}
.bg1{

    background-image: url(biking.jpg); /* another way to attach image in back ground */
}

.bg2{
   
        background-image: url(paragliding.jpg); /* another way to attach image in back ground */
    
}
.bg3{

    background-image: url(surfing.jpg); /* another way to attach image in back ground */
}

